/.idea/.idea.MyShop.dir/.idea/contentModel.xml
/.idea/.idea.MyShop.dir/.idea/encodings.xml
/.idea/.idea.MyShop.dir/.idea/indexLayout.xml
/.idea/.idea.MyShop.dir/.idea/modules.xml
/.idea/.idea.MyShop.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.MyShop.dir/riderModule.iml
/.idea/.idea.MyShop.dir/.idea/vcs.xml
/.idea/.idea.MyShop.dir/.idea/workspace.xml
