@layout MainLayout
@page "/"

<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url('img/login-bg.jpg');">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a href="#">
                            <img src="img/logo.png" width="300">
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Вход в систему</h3>
                        </div>
                        <form class="kt-form" @onsubmit="@LogIn">
                            <div class="input-group">
                                <input @bind-value="@UserName" @bind-value:event="oninput" class="form-control" type="text" placeholder="Логин" name="email" autocomplete="off" />
                            </div>
                            <div class="input-group">
                                <input @bind-value="@Password" @bind-value:event="oninput" class="form-control" type="password" placeholder="Пароль" name="password" />
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit" disabled="@(!IsLoginAvailable)"
                                        class="btn btn-success btn-elevate kt-login__btn-primary">
                                    Войти
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>