.delivery-address {
  margin-top: 20px; }
  .delivery-address input {
    margin-left: 5px;
    margin-bottom: 15px; }

.product-price {
  width: 200px;
  text-align: center; }

.product-quantity {
  width: 200px;
  text-align: center; }

.create-order {
  width: 298px; }
