.product-price {
  width: 250px;
  text-align: center; }

.product-quantity {
  width: 250px;
  text-align: center; }

.end-order {
  border-top: 3px solid red; }

/*
.product-name{
    width: auto;
}


*/
