.block-ui {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.block-ui-wrapper {
    background: rgba(0, 0, 0, 0.40) !important; /* выставляем прозрачность оверлея на 0.4 (в оригинале стоит 0.7)*/
}
