<UserSessionProvider>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        </Found>
        <NotFound>
            <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v2" style="background-image: url('img/404-bg.jpg');">
                    <div class="kt-error_container">
                        <span class="kt-error_title2 kt-font-light">
                            <h1>ОЙ!</h1>
                        </span>
                        <span class="kt-error_desc kt-font-light">
                            Страница не найдена
                        </span>
                    </div>
                </div>
            </div>
        </NotFound>
    </Router>
</UserSessionProvider>