@using Microsoft.AspNetCore.Components

@inject UserSession CurrentUserSession
@inject NavigationManager NavigationManager

@if (hasLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <div class="kt-page-loader kt-page-loader--logo">
        <img alt="Logo" src="/img/logo.png" width="150" />
        <div class="kt-spinner kt-spinner--danger"></div>
    </div>
}

@code {
    private bool hasLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public int CurrentCount { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !CurrentUserSession.IsLoaded)
        {
            await CurrentUserSession.LoadSession();

            if (CurrentUserSession.IsSessionStarted)
                NavigationManager.NavigateTo("/customer/products");
            else if (NavigationManager.Uri.Contains("customer"))
                NavigationManager.NavigateTo("/");

            hasLoaded = true;
            StateHasChanged();
        }
    }
}